body{ 
    background-color: white;
    padding: 0;
    margin: 0;
}

/* Header */
.logo {
    font-size: 24px;
    color: #F9FAF8;

}

.headcontainer, ul{
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
    align-items:center ;
    background-color:#1F2937 ;
    padding: 0 8px;

}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}


    
    /*  Top Section */
.contenttop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1F2937 ;
    flex-wrap: wrap;
    padding: 32px;
    gap: 16px;
    
}

.signup{
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    flex-direction: column;
    color: #F9FAF8;
    max-width: 400px;

}

h1 {
    font-size: 40px;
    font-weight:bolder;
    color:#F9FAF8 ;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 6px;
    border: none;
    padding: 4px 24px;
    margin: 0;

}

/*  images */
img {
    width: 200px;
    height: 200px;
    border-radius: 26px;
    border: 4px solid #3882f6;
}

/* Upper Middle */


